html {
    background-color:darkslategray;
    color:black;
    font-family:"Brush Script MT", "Gerogia", Garamond, serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing:inherit;
}

p {
    color:beige;
}

div {
    background-color:beige;
}

div.navigation {
    background-color:transparent;
}

.foodimage {
    height:auto;
    width:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    max-width:100%;
}

.title {
    text-align:center;
    font-size:40px;
}

h2 {
    font-size: 14px;
    font-style: italic;
}

ul.navigation {
    display:flexbox;
    list-style:none;
}

li {
    margin:10px;
}

button {
    background-color:black;
    color:beige;
    padding:10px;
}